{% extends 'signup.html' %} 
{% block title %}Student Sign Up{% endblock %} 
{% load static %} 
{% block content %} 
{% load socialaccount %}
                <a class="links" href="{% url 'student_signup' %}"> Student</a> |
                <a href="{% url 'teacher_signup' %}">Teacher</a> |
                <a href="{% url 'judge_signup' %}">Judge</a> | <b>Mentor</b> |
                <a href="{% url 'admin_signup' %}">Admin</a>
              </p>
            </div>
            <!------------------ ------ loin info-------------------- ------->
            <form method="post">
              {% csrf_token %}
              <div class="input-group mb-3">
                <input
                  required
                  type="text"
                  maxlength="30"
                  class="form-control form-control-lg bg-light fs-6"
                  placeholder="Username"
                  name="username"
                />
              </div>
              <div class="input-group mb-3">
                <input
                  required
                  type="text"
                  maxlength="30"
                  class="form-control form-control-lg bg-light fs-6"
                  placeholder="Email address"
                  name="email"
                />
              </div>
              <div class="input-group mb-1">
                <input
                  required
                  type="password"
                  maxlength="8"
                  class="form-control form-control-gr bg-light fs-6"
                  placeholder="Password"
                  name="password1"
                />
              </div>
              <div class="input-group mb-1">
                <input
                  required
                  type="password"
                  maxlength="8"
                  class="form-control form-control-gr bg-light fs-6"
                  placeholder="Confirm password"
                  name="password2"
                />
              </div>
              <div class="input-group mb-5 d-flex justify-content-between">
                <div class="form-check">
                  <input
                    type="checkbox"
                    class="form-check-input"
                    id="formCheck"
                  />
                  <label for="formCheck" class="form-check-label text-secondary"
                    ><small>Remember Me</small></label
                  >
                </div>
              </div>
            <!------------------ ------ login button-------------------- ------->
            <div class="input-group mb-3">
              <button type="submit" class="btn btn-outline-success w-100">
                Sign up
              </button>
            </div>
            <div class="input-group mb-3">
              <button class="btn btn-lg btn-light w-100 fs-6">
                <img
                  src="{% static 'google.png' %}"
                  style="width: 20px"
                  class="me-2"
                /><a href="{% provider_login_url 'google' %}?next=/"
                  >Sign Up with Google</a
                >
              </button>
            </div>
            <div class="row">
              <small>
                Already registered?
                <a href="{% url 'mentor_signin' %}">Sign in</a></small
              >
            </div>
          </form>
          </div>
        </div>
      </div>
    </div>
    {% endblock %}
