{% extends 'signin.html' %} 
{% block title %}Student Sign In{% endblock %} 
{% load static %} 
{% block content %} 
{% load socialaccount %}
            <b> Student</b> |
            <a class="links" href="{% url 'teacher_signin' %}">Teacher</a> |
            <a href="{% url 'judge_signin' %}">Judge</a> |
            <a href="{% url 'mentor_signin' %}">Mentor</a> |
            <a href="{% url 'admin_signin' %}">Admin</a>
          </p>
        </div>
        <!------------------ ------ loin info-------------------- ------->
        <form method="post">
          {% csrf_token %}
          <div class="input-group mb-3">
            <input
              required
              type="text"
              maxlength="30"
              class="form-control form-control-lg bg-light fs-6"
              placeholder="Username"
              id="username"
              name="username"
            />
          </div>
          <div class="input-group mb-1">
            <input
              required
              type="password"
              maxlength="8"
              class="form-control form-control-gr bg-light fs-6"
              placeholder="Password"
              id="password"
              name="password"
            />
          </div>
          <div class="input-group mb-5 d-flex justify-content-between">
            <div class="form-check">
              <input type="checkbox" class="form-check-input" id="formCheck" />
              <label for="formCheck" class="form-check-label text-secondary"
                ><small>Remember Me</small></label
              >
            </div>
            <div class="forgot">
              <small><a href="#">Forgot Password?</a></small>
            </div>
          </div>

          <!------------------ ------ login button-------------------- ------->

          <div class="input-group mb-3">
            <button type="submit" class="btn btn-outline-success w-100">
              <a href="#" style="color: gainsboro">Sign in</a>
            </button>
          </div>
          <div class="input-group mb-3">
            <button class="btn btn-lg btn-light w-100 fs-6">
              <img
                src="{% static 'google.png' %}"
                style="width: 20px"
                class="me-2"
              /><a href="{% provider_login_url 'google' %}?next=/"
                >Sign In with google</a
              >
            </button>
          </div>
          <div class="row">
            <small
              >Don't have account?
              <a href="{% url 'student_signup' %}">Sign Up</a></small
            >
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
{% endblock %}
